<h1>Courses</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2" *ngIf="user?.Type===userTypes.Admin">Add Course</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 90%">Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.Name}}</td>
            <td style="white-space: nowrap">
                <a routerLink="Manage/{{course.Id}}" class="btn btn-sm btn-primary me-1" *ngIf="user?.Type!=userTypes.Student">Manage</a>
                <button (click)="deleteCourse(course.Id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="course.isDeleting" *ngIf="user?.Type===userTypes.Admin">
                    <span *ngIf="course.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!course.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!courses">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>